body{
    margin: 0;
    padding: 0;
    font-family: 'Fira sans', sans-serif;
    font-size: 12px;
    text-align: center;
}

logo{
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    padding: 30px;
}

nav {
    /* background-color: #333; */
    margin: 0;
    padding-top: 10px;
    overflow: hidden;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    
}

nav ul{
    text-align: center;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
    padding:20px;
}

nav > ul > li > a:link, a:visited {
    /* color: #aaa; */
    /* background-color:#FF0; */
    display: block;
    color: #343434;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

nav > ul > li > a:hover, a:active {
    color: #79a9b4;
}

nav > ul > li > a.selected {
    color: #79a9b4;
}

